# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.egg
*.egg-info/
dist/
build/
.eggs/
*.log

# Virtual environment
venv/
.env

# Docker
*.env
*.dockerignore
*.log

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# VSCode or IDEs
.vscode/
.idea/

# System files
.DS_Store
